// Load custom styles
@import './spectre/spectre.styl'
@import './spectre/spectre-exp.styl'
@import './spectre/spectre-icons.styl'

// Highlight.js
@import './highlight.js/monokai-sublime.styl'

code.hljs
  display inline

.tooltip-click:hover::after
  opacity 0

.tooltip-click:focus::after,
.tooltip-click:active::after
  opacity 1;
  transform translate(-50%, -.2rem);

// Load fonts
@import './fonts.styl'

h1, h2, h3, h4, h5, h6
  font-family $titleFontFamily

code, kbd, .line-number
  font-family $sourceCodeFontFamily

body
  font-family $bodyFontFamily

// Fix documentation style issues caused by spectre overriden.
h1, .h1
  font-size 1.6rem

h2, .h2
  font-size 1.2rem

h3, .h3
  font-size 1.0rem

h4, .h4
  font-size 0.9rem

h5, .h5
  font-size 0.8rem

h6, .h6
  font-size 0.7rem


ul
  list-style disc outside

small
  a
    font-size 80% !important
    font-weight 400

.avatar[data-initial]::before
  pointer-events none;

.table
  thead
    tr
      border-top 0px solid
    th
      border-top 0px solid
      border-left 0px solid
      border-right 0px solid
  tbody
    tr
      td
        border-left 0px solid
        border-right 0px solid

kbd
  border none
  border-bottom none

.theme-default-content
  code
    padding 0.1rem 0.2rem

// Global overriden.
.text-warning
  color $warningColor

.bg-warning
  background-color $warningColor !important

.menu .menu-item
  a, >a, input, .form-select, .form-switch
    font-size $fontSizeMD
  .form-switch
    margin-left 0.4rem

// Page layout.
main
  padding $navbarHeight 0 0
  max-width $pageWidth
  margin 0 auto

  .sideview
    section
      margin-bottom 0.5rem

  &.page
    padding-top 0

.breadcrumbview
  margin-bottom 0.8rem
  .breadcrumb-item, .breadcrumb-item a
    font-size $fontSizeMD

@media (min-width: $MQMobileNarrow)
  main
    &.applayout
      max-width 100%

      .sideview
        .scroll-area
          position fixed
          top $navbarHeight
          left 0
          bottom 0
          overflow-y auto
          width $sideContainerWidth
          padding-top 0.2rem

      .mainview
        padding-top 0.2rem
        padding-left $sideContainerWidth

      .breadcrumb-container
        position: fixed
        top $navbarHeight
        left $sideContainerWidth
        right 0
        width "calc(100% - %s)" % $sideContainerWidth
        z-index 1
        background-color $breadcrumbBackgroundColor

        .breadcrumbview
          margin-bottom 0

          ul.breadcrumb
            margin-bottom 0

      .contentview
        .scroll-area
          margin-top $breadcrumbHeight

@media (max-width: $MQMobileNarrow)
  main
    max-width 100%
    margin 0
    overflow-x hidden

    .sideview
      margin-top 1.15rem

.theme-default-content
  font-size $fontSizeMD

  &:not(.custom)
    padding 1rem
    > h1:first-child
      margin-top 0
  p
    margin-block-start 1em
    margin-block-end 1em
    margin-inline-start 0
    margin-inline-end 0

.hide
  display none

.display-block
  display block

.sidebar
  font-size $fontSizeMD
  width $sidebarWidth

  .sidebar-link
    text-decoration none
    padding-right 0.6rem
    &:focus
      box-shadow none
    &:visited
      color $textColor
    &.active
      color $accentColor

  > .sidebar-links
    padding: 0.2rem 0 1.5rem 0 !important

  .sidebar-links
    li
      margin-top 0rem !important
      a.sidebar-link
        font-size $fontSizeMD !important
        line-height 1.5 !important
      .sidebar-heading
        padding-left 0.55rem

  .sidebar-sub-headers
    // padding-left 0.6rem !important
    li
      margin-top 0
      a.sidebar-link
        font-size $fontSizeMD !important
        padding-left 0.4rem

  .sidebar-group
    a.sidebar-link
      padding-left 0.6rem

.page-edit
  padding-left 1rem !important
  padding-right 1rem !important
.page-nav
  padding-left 1rem !important
  padding-right 1rem !important

.tile .tile-title
  margin-top 0 !important

.avatar:not(.custom)
  background #eee

.pkg-sm
  .pkg-title
    margin 0 0 0.3rem 0
    a::before
      content "📦 "

.form-group
  .form-label
    &.required:after
      content " *"
      color $accentColor

// scrollbar: the emerging W3C standard that is currently Firefox-only
* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbarThumbColor $scrollbarBackgroundColor;
}
*:hover {
  scrollbar-color: $scrollbarThumbHoverColor $scrollbarBackgroundColor;
}

// scrollbar: Works on Chrome/Edge/Safari
*::-webkit-scrollbar
  width 10px

*::-webkit-scrollbar-track
  background $scrollbarBackgroundColor

*::-webkit-scrollbar-thumb
  background-color $scrollbarThumbColor
  border-radius 20px
  border 2px solid $scrollbarThumbColor

*::-webkit-scrollbar-thumb:hover
  background-color $scrollbarThumbHoverColor
  border-color $scrollbarThumbHoverColor


// ads
.adp:empty
  display none
