// Reset spectre styles.
body
  font-size 0.8rem
  font-family soleil, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto

// Reset h1-h6 to spectre styles.
h1, .h1
  font-size 1.8rem
h2, .h2
  font-size 1.3rem
h3, .h3
  font-size 1.1rem
h4, .h4
  font-size 1.0rem
h5, .h5
  font-size 1rem
h6, .h6
  font-size .8rem
h1, h2, h3, h4, h5, h6
  font-weight: 500
  line-height: 1.2

// Page layout.
main
  padding $navbarHeight 0 0
  max-width $pageWidth
  margin 0px auto
  &.page
    padding-top 0

.theme-default-content
  p
    margin-block-start 1em
    margin-block-end 1em
    margin-inline-start 0px
    margin-inline-end 0px
