/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#palette-styl
 */
$accentColor = #3068E5
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$primaryColor = $accentColor
$lightTextColor = #DEDEDE
$warningColor = #e8bb49

// Font
$fontSizeMD = 0.7rem
$titleFontFamily = "Noto Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto
$bodyFontFamily = $titleFontFamily
$sourceCodeFontFamily = "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace

// Responsive breakpoints
$MQMobileNarrow = 600px
$MQMobile = 840px
$MQNarrow = 960px
$MQNormal = 1280px
$MQXS = 480px
$MQSM = 600px
$MQMD = 840px
$MQLG = 960px
$MQXL = 1280px

// Layout
$navbarHeight = 3.2rem
$pageWidth = 1088px
$sideContainerWidth = 13rem
$sidebarWidth = 15.5rem
$breadcrumbHeight = 2.4rem
$navbarAndBreadcrumbHeight = $navbarHeight + $breadcrumbHeight
$breadcrumbBackgroundColor = #fff

// Card
$maxPackageCardWidth = 54.4rem
$maxPackageCardSkeletonWidth = 27.2rem

// Scrollbar
$scrollbarBackgroundColor = #eee
$scrollbarThumbColor = #ccc
$scrollbarThumbHoverColor = #999