/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#palette-styl
 */
$accentColor = #3068E5
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$primaryColor = $accentColor
$lightTextColor = #DEDEDE
$navbarHeight = 3.2rem
$pageWidth = 1088px
$titleFontFamily = soleil, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto

// Font
$fontSizeMD = 0.7rem

// Responsive breakpoints
$MQMobileNarrow = 600px
$MQMobile = 840px
$MQNarrow = 960px
$MQNormal = 1280px
$MQXS = 480px
$MQSM = 600px
$MQMD = 840px
$MQLG = 960px
$MQXL = 1280px

// Layout
$sideContainerWidth = 13rem
$sidebarWidth = 15.5rem
$breadcrumbHeight = 2.4rem
$navbarAndBreadcrumbHeight = $navbarHeight + $breadcrumbHeight

// Card
$maxPackageCardWidth = 54.4rem
$maxPackageCardSkeletonWidth = 27.2rem

// Scrollbar
$scrollbarBackgroundColor = #eee
$scrollbarThumbColor = #ddd
$scrollbarThumbHoverColor = #999