/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.navbar .logo
  height: 2.5rem!important
  margin-right: 0.3rem!important

.navbar .site-name
  color: $accentColor!important

.footer
  padding: 1rem!important
  p
    line-height: 0.9rem
